@import "tailwindcss";

@theme {
  /* Your custom colors are defined as CSS variables under the --color-* namespace */
  --color-primary: #3F67BC;
  --color-disabled: #e4c96b;
  --color-secondary: #FF7D7D;
}

.employer-table .ant-table-thead>tr>th {
    /* background-color: #fef3c7; */
    background-color: #b8c7e5;
    /* color: #000; */
    font-weight: 600;
    /* color: white; */
}

@media (max-width: 640px) {
    .employer-table .ant-table {
        font-size: 0.875rem;
    }

    .employer-table .ant-table-thead>tr>th,
    .employer-table .ant-table-tbody>tr>td {
        padding: 8px 4px;
    }

    /* global.css */
    .ant-table-body {
        min-height: calc(100vh - 324px);
    }

}

.ant-picker.ant-picker-outlined.css-dev-only-do-not-override-1vjf2v5.custom-select-padding {
    padding: 8px 8px !important;
}